body{
background: whitesmoke;
}
.card{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    margin-left: 20%;
}

.container h4{
    font-size: 6vh;
}

.container p{
    font-size: 5vh;
}
