<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="albums.css" th:href="@{albums.css}">
</head>
<body>
<h1>Album List</h1>
<div class="bigDiv">
    <div class="card" th:each="album : ${albums}">
        <img th:src="${album.imgUrl}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Album: <span th:text="${album.title}"></span></b></h4>
            <p>Artist: <span th:text="${album.artist}"></span></p>
            <p>Number of songs: <span th:text="${album.songCount}"></span></p>
            <p>Length in seconds: <span th:text="${album.length}"></span></p>
            <a th:href="'/albumInfo/'+${album.id}">Show Song</a>

        </div>
    </div>
</div>

</body>
</html>
