<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="albums.css" th:href="@{albums.css}">

    <title>Songs</title>
</head>
<body>

<form action="#" th:action="@{/addSong}" th:object="${song}" method="post">
    <fieldset>
        <legend>Add New Song</legend>
        <p>Title: <input name="title" type="text" field="*{title}"/></p>
        <p>Length in seconds: <input name="length" type="number" field="*{length}"/></p>
        <p>Album:
            <select th:field="*{album}">
                <option th:each="album: ${albums}" th:text="${album.title}" th:value="${{album}}"></option>
            </select>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </fieldset>
</form>


<h1>Songs List</h1>
<table id="table">
    <tr>
        <th>Track number</th>
        <th>Title</th>
        <th>Length</th>
        <th>Album</th>
    </tr>
    <tr th:each="song: ${songs}">
        <td th:text="${song.trackNumber}"></td>
        <td th:text="${song.title}"></td>
        <td th:text="${song.length}"></td>
    </tr>
</table>
</body>
</html>
